/* css personalizado */

body {
	background:url(../imgs/old_moon.png);
    padding-top: 70px;   
}

.linhaCinza {
    background: gray;   
}

.linhaPersonalizada {
    background: red;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bg-color-padding p {
    padding: 15px;   
}

.form-login {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    background: #eee;
}

.panel{
	margin-bottom: 2px;	
}

.alteraExclui{
	margin-left:15px;	
}